{% extends 'base.html.twig' %}

{% block body %}

<h1>{{ title }}</h1>
<p>{{ description }}</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis fugiat voluptatem obcaecati vitae praesentium
    quibusdam aut eaque, eius exercitationem iste odit accusantium maxime voluptates. Eos deleniti, inventore
    temporibus quidem, saepe vitae optio laboriosam praesentium quod modi accusamus, debitis reiciendis facere!</p>
<p>Ipsum reiciendis nihil voluptas saepe ad aliquam. Vel doloremque totam magnam explicabo harum fugit hic rem earum
    modi dolores ipsum accusamus natus nihil eaque saepe, in enim. Rem, consectetur voluptates! Quaerat harum at illum
    ab inventore quo, incidunt nesciunt eveniet?</p>
<p>Quasi repellat dicta nobis nesciunt commodi temporibus laborum expedita enim aspernatur, dignissimos repudiandae
    quaerat, quisquam maiores, illo fuga consequatur tempora voluptates! Placeat dolores laborum reprehenderit eaque
    vitae inventore ducimus hic assumenda! Nobis ab harum beatae pariatur quibusdam odit cupiditate sint?</p>

{% endblock %}